

<html>
<script>
function emergency(){
	var mssg = "응급상황발생";
}
function product(){
	var mssg = "물건요청"
}
</script>
<body>
<span class="message"></span><p><%= message %>님의 요청</p>
<input type="button" value="응급상황발생" onclick=emergency()>
<input type="button" value="구호물품요청" onclick=product()>

</body>
<html>
