<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>슬기로운 격리생활</title>
  <link rel="stylesheet" href="/../style.css">
</head>

<body>
  <h1><a href="/">슬기로운 격리생활</a></h1>

  <div class="grid">
    <ul>
      <il><a href="/food/search">응급상황 알림</a></il><br>
      <il><a href="/food/recommendation">물품요청</a></il>
    </ul>


    <article class="">
      <h2>
        <%= title %>
      </h2>
        <p><%= description %></p>
    </article>
  </div class="grid">

</body>

</html>
